;=====================================================
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;=====================================================

[bar/base]
wm-restack =                    ${xrdb:wm_restack}
override-redirect =             ${xrdb:bar_default_override_redirect}
separator =                     ${xrdb:bar_default_separator}

font-0 =                        ${xrdb:bar_text_font}
font-1 =                        ${xrdb:bar_icons_font}


background =                    ${xrdb:bar_bg_color}
foreground =                    ${xrdb:bar_fg_color}

width =                         ${xrdb:bar_width}
height =                        ${xrdb:bar_height}
spacing =                       ${xrdb:bar_default_spacing}

underline-size =                ${xrdb:bar_default_underline_size}
overline-size =                 ${xrdb:bar_default_overline_size}
padding-left =                  ${xrdb:bar_default_padding}
padding-right =                 ${xrdb:bar_default_padding}
module-margin-left =            0
module-margin-right =           0

[bar/top_primary]
inherit =                       bar/base

monitor=                        ${env:MONITOR:eDP1}
top =                           true

modules-left  =                 bspwm
modules-center = 
modules-right =                 updates backlight volume wlan battery time powermenu

tray-position =                 center
tray-detached =                 true
tray-maxsize =                  16
tray-transparent =              false


[module/bspwm]
type = internal/bspwm

; workspace_icon-[0-9]+ = label;icon
ws-icon-0 = 1;
ws-icon-1 = 2;
ws-icon-2 = 3;
ws-icon-3 = 4;
ws-icon-4 = 5;
ws-icon-5 = 6;
ws-icon-6 = 7;
ws-icon-7 = 8;

format = <label-state> <label-mode>

; If any values for label-dimmed-N area defined, the workspace/mode colors will get overridden
; with those values if the monitor is out of focus

; Active desktop
label-focused = %name%.%icon% 
label-focused-foreground = #FFFFFF
label-focused-underline = #57FA70
label-focused-padding = 1

; Occupied desktop
label-occupied = %name%.%icon% 
label-occupied-foreground = #9A8ADB
label-occupied-padding = 1

; Urgent desktop
label-urgent = %name%.%icon% 
label-urgent-background = #F6F9FF
label-urgent-padding = 1

; Empty desktop
label-empty = %name%.%icon% 
label-empty-foreground = #b7672d
label-empty-padding = 1


[module/backlight]
type = internal/backlight
card = intel_backlight
format = <ramp> <label>
ramp-foreground = #DDE637
ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 

[module/powermenu]
type = custom/menu

label-open = 
label-close = 
label-open-foreground =  #FF0000
label-close-foreground = #FF7D8C

label-separator = |
label-separator-foreground = #4A5466

menu-0-0 = Terminate WM
menu-0-0-foreground = #92CF7E
menu-0-0-exec = bspc quit -1
menu-0-1 = Reboot
menu-0-1-foreground = #92CF7E
menu-0-1-exec = menu-open-1
menu-0-2 = Power off
menu-0-2-foreground = #92CF7E
menu-0-2-exec = menu-open-2
menu-0-3 = Lock
menu-0-3-foreground = #92CF7E
menu-0-3-exec = i3lock-fancy


menu-1-0 = Cancel
menu-1-0-foreground = #92CF7E
menu-1-0-exec = menu-open-0
menu-1-1 = Reboot
menu-1-1-foreground = #ee
menu-1-1-exec = reboot

menu-2-0 = Power off
menu-2-0-foreground = #92CF7E
menu-2-0-exec = poweroff
menu-2-1 = Cancel
menu-2-1-foreground = #92CF7E
menu-2-1-exec = menu-open-0

[module/wlan]
type = internal/network
interface = wlp3s0
interval = 3.0

format-connected = <ramp-signal> <label-connected>

label-connected = %essid%
label-disconnected =  %ifname%
label-disconnected-foreground = #55

ramp-signal-0 = 
ramp-signal-foreground = #82D2ED

[module/updates]
type = custom/script
exec = python3 ~/.config/scripts/num.py
interval = 1000

[module/time]
type = internal/date
date = %H:%M %p %a %d 
interval = 60

[module/volume]
type = internal/volume
label-volume =  %percentage%
label-muted =  muted



[module/battery]
type = internal/battery

; This is useful in case the battery never reports 100% charge
full_at = 99

; Use the following command to list batteries and adapters:
; $ ls -1 /sys/class/power_supply/
battery = BAT0
adapter = AC0

; Seconds between reading battery capacity.
; If set to 0, polling will be disabled.
;poll_interval = 3

; Available tags:
;   <label-charging> (default)
;   <bar-capaity>
;   <ramp-capacity>
;   <animation-charging>
format-charging = <animation-charging> <label-charging>


; Available tags:
;   <label-discharging> (default)
;   <bar-capaity>
;   <ramp-capacity>
format-discharging = <ramp-capacity> <label-discharging>


; Available tags:
;   <label-full> (default)
;   <bar-capaity>
;   <ramp-capacity>
format-full = <label-full>

; Available tokens:
;   %percentage% (default)


; Available tokens:
;   %percentage% (default)

; Available tokens:
;   %percentage% (default)
label-full =  %percentage%

ramp-capacity-0 = 
ramp-capacity-1 =  
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-framerate_ms = 750

[bar/bottom_primary]
inherit = bar/base

monitor=${env:MONITOR:eDP1}
bottom = true

modules-left = mpd
modules-right = cpu memory cpu_temp

[module/mpd]
type = internal/mpd
mpd_host = 127.0.0.1
mpd_port = 6600
format-offline =  MPD offline
format-online = <label-song>   <icon-prev> <icon-seekb> <icon-stop> <toggle> <icon-seekf> <icon-next>   <icon-repeat> <icon-random>   <bar-progress>  <label-time>
label-song =  %artist% - %title%

icon-prev = 
icon-seekb = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 
icon-seekf = 
icon-random = 
icon-repeat = 

bar-progress-width = 15
bar-progress-indicator = │
bar-progress-indicator-foreground = #bb
bar-progress-fill = ─
bar-progress-fill-foreground = #bb
bar-progress-fill-font = 3
bar-progress-empty = ─
bar-progress-empty-foreground = #44
bar-progress-empty-font = 3
label-time-foreground = #bb


[module/memory]
type = internal/memory
interval = 2
label =  %gb_used%
format = <bar-used> <label>

bar-used-width = 7
bar-used-foreground-0 = #00FF00
bar-used-gradient = false
bar-used-indicator = 
bar-used-indicator-font = 1
bar-used-indicator-foreground = #00FF00
bar-used-fill = 
bar-used-empty = 

[module/cpu]
type = internal/cpu
interval = 1

format = <bar-load> <label>
label =  %percentage%

bar-load-width = 7
bar-load-gradient = false
bar-load-indicator = 
bar-load-indicator-font = 1
bar-load-indicator-foreground = #00FF00
bar-load-fill =
bar-load-empty =

[module/cpu_temp]
type = internal/temperature
interval = 1
thermal-zone = 0
format = <ramp> <label>
ramp-0 = 
label = %temperature%
ramp-0-foreground = #FF0000


